@media(max-width:1200px)
{
    html 
    {
        font-size: 18px;
    }
}
@media(max-width:1024px)
{
    html 
    {
        font-size: 14px;
    }
    /* .rita 
    {
        display: none;
    } */
    .carousel-control-next
    {
        left: -94%;
    }
    .carousel-control-prev {
        left: -117%;
    }
    #sec4 .data
    {
        top: 225px;
    }
}
@media (max-width:768px)
{
    #sec2 
    {
        padding-bottom: 60px;
    }
    .rita 
    {
        display: none;
    }
    .carousel-control-prev {
        left: -2%;
        top: 114%;
    }
    .carousel-control-next {
        left: 15%;
        top: 114%;
    }
    footer > .container > .row > .col-lg-6:nth-child(1)::after 
    {
        content: none;
    }
}
@media (max-width:576px)
{
    .more-link li:nth-child(2)
    {
        display: none;
    }
    #sec2 
    {
        padding-bottom: 30px;
    }
    .carousel-indicators {
        bottom: -10%;
    }
    .rita 
    {
        display: none;
    }
    #faq-sec3 ul 
    {
        columns: 1;
        margin-left: -20px;
    }
    .header-col::before {
        position: absolute;
        width: 1px;
        height: 20px;
        content: "";
        background-color: white;
        top: 2px;
        left: 29%;
    }
    [id^="sec"],#faq-sec3,#service-sec4{
        padding: 50px 0;
    }
    #sec4 .data {
        top: 82%;
    }
    .blurry .col-lg-6:nth-child(2)::before
    {
        content: none;
    }
    #about-scroll {
        height: 40vh;
    }
}

@media (max-width:425px)
{
    .header-col::before
    {
        left: 24%;
    }
}
@media (max-width:320px)
{
    .more-link li:nth-child(3)
    {
        display: none;
    }
}